.SkillsWrp{
  background-color: #eee;
  text-align: center;
  overflow-y: scroll;
  height: 100%;
}
.SkillsContainer{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 0 10%;
  flex-flow: row wrap;
}
.Preface{
  color: #777;
  text-transform: uppercase;
}
.SkillWrpOuter{
  width: 25%;
  margin: 10px 0;
  padding: 0 10px;
  box-sizing: border-box;
  transition: padding .4s, order .4s;
  position: relative;
  z-index: 1;
}
.SkillHidden{
  width: 0;
  height: 0;
  padding: 0;
  z-index: -1;
}
