.SkillsWrp{
  background-color: #eee;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.SkillsContainer{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 0 14%;
  flex-flow: row wrap;
  margin-top: 40px;
}
.Preface{
  color: #777;
  text-transform: uppercase;
}
.SkillWrpOuter{
  width: 25%;
  margin: 10px 0;
  padding: 0 10px;
  box-sizing: border-box;
  transition: padding .4s, order .4s;
  position: relative;
  z-index: 1;
}
.SkillHidden{
  width: 0 !important;
  height: 0;
  padding: 0;
  z-index: -1;
}
@media screen and (max-width: 992px){
  .SkillWrpOuter{
    width: 33.33%;
  }
  .Preface{
    margin-top: 105px;
  }
}
@media screen and (max-width: 767px){
  .SkillWrpOuter{
    width: 50%;
  }
}
@media screen and (max-width: 500px){
  .SkillWrpOuter{
    width: 100%;
  }
}
