.SortComponentWrp{
  position: fixed;
  z-index: 100;
  width: 150px;
  height: auto;
  border-bottom: 1px solid #999;
  right: 35px;
  top: 4%;
}
.SortWord, .SortButton{
  display: inline-block;
  height: 30px;
}
.SortWord{
  float: left;
  line-height: 1.9;
}
.SortButton{
  position: relative;
  box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}
.SortButton span{
  line-height: 1.8;
}
.SortButton::after{
  content: '';
  position: absolute;
  right: -8px;
  top: 14px;
  border-top: 4px solid #000;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.SortButton:hover, .SortComponentWrpActive .SortButton{
  color: #FF9800;
  fill: #FF9800;
}
.SortButton:hover::after, .SortComponentWrpActive .SortButton::after{
  border-top-color: #FF9800;
}
.SortContainer{
  position: absolute;
  top: 40px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 25px;
}
.SortComponentWrpInactive .SortContainer{
  display: none;
}
.SortComponentWrpActive .SortContainer{
  display: block;
}
.ParamWrp{
  text-align: center;
  margin: 5px 0;
  padding-bottom: 3px;
  border-bottom: 1px solid #999;
  cursor: pointer;
}
.ParamWrp:hover, .ParamWrp:hover svg{
  fill: #FF9800;
  color: #FF9800;
}
