.AboutWrp{
  background: rgb(175, 182, 176);
  border: 20px solid rgb(186, 194, 187);
  padding: 35px 40px;
  height: 100%;
  box-sizing: border-box;
  color: rgb(85, 86, 88);
}
.Greeting{
  margin: 45px 0 0;
}
.BriefInfo{
  line-height: 1.5;
}
.LeftSide, .RightSide{
  display: inline-block;
}
.LeftSide{
  width: 30%;
  color: #fff;
  font-size: 28px;
  padding-top: 25%;
  float: left;
}
.RightSide{
  width: 70%;
}
.WorksLink{
  margin-top: 20%;
  font-size: 35px;
}
