
.MainInfoWrp{
  margin: 35% auto 0;
  background: rgb(250, 250, 250);
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  width: 96%;
  color: rgb(64, 64, 64);
}
.Description{
  font-weight: 700;
  width: 75%;
  margin-top: 30px;
  font-size: 28px;
}
@media screen and (max-width: 992px){
  .Description{
    width: 100%;
  }
}
