.SideDrawerContent{
  background: rgb(93, 95, 94);
  position: fixed;
  top: 20px;
  width: calc(100% - 40px);
  bottom: 20px;
  box-sizing: border-box;

}
.SideDrawerContentInactive{
  transition: all .775s cubic-bezier(1.000, 0.080, 0.190, 1.015);
  right: 100%;
}
.SideDrawerContentActive{
  transition: all .7899s cubic-bezier(1.000, 0.080, 0.190, 1.015);
  
  right: 20px;
}
