.ContactWrpOuter{
  height: 100%;
  overflow-y: auto;
}
.ContactWrp{
  background: rgb(175, 182, 176);
  border: 20px solid rgb(186, 194, 187);
  padding: 35px 40px;
  height: auto;
  box-sizing: border-box;
  color: rgb(85, 86, 88);
}
.Preface{
  text-align: center;
  margin-top: 55px;
}
.FormWrp{
  width: 75%;
  margin: 30px auto 45px;
}
.name, .email, .message{
  position: relative;
  height: 50px;
  margin-bottom: 45px;
}
.FormWrp button{
  cursor: pointer;
}
.FormWrp button:disabled{
  opacity: .5;
  cursor: not-allowed;
}
.FormWrp input{
  text-indent: 20px;
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: #efefef;
  border-radius: 20px;
  background-color: rgba(0,0,0, .35);
}
.FormWrp input:hover, .FormWrp input:focus{
  background: rgba(0,0,0, .2);
}
.FormWrp input::placeholder{
  text-transform: uppercase;
  color: #ccc;
}
.FormWrp .InputFail{
  background-color: lightcoral !important;
}
.IconWrp{
  position: absolute;
  right: 10px;
  top: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}
.TipPopUpWrp{
  position: absolute;
  top: -9px;
  right: 70px;
  background: #eee;
  visibility: hidden;
  padding-bottom: 10px;
  font-size: 14px;
  border-radius: 5px;
}
.TipPopUpWrp::before{
  content: '';
  position: absolute;
  top: 49%;
  left: 0;
  background: #cdcdcd;
  width: 100%;
  height: 1px;
}
.TipPopUpWrp::after{
  content: '';
  position: absolute;
  right: -15px;
  top: 36%;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #eee;
}
.IconWrp:hover + .TipPopUpWrp{
  visibility: visible;
}
.Head, .Bottom{
  padding: 15px 15px 0;
}
.Head{
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
.Bottom{
  color: #999;
}
.HelpEmail{
  color: #e83333;
  padding-left: 15px;
  position: absolute;
  bottom: 110%;
}
.HelpEmailHide{
  display: none;
}
.HelpEmailShow{
  display: block;
}
@media only screen and (width: 1366px) and (height: 1024px){
  .FormWrp{
    margin-top: 55px;
  }
  .FormWrp .name, .FormWrp .email, .FormWrp .message{
    margin-bottom: 65px;
  }
  .Preface{
    margin-top: 65px;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 992px){
  .name, .email, .message{
    margin-bottom: 70px;
  }
}
@media screen and (min-height: 620px){
  .ContactWrp{
    height: 100%;
  }
}
@media screen and (max-width: 500px){
  .ContactWrp{
    height: auto;
    padding-right: 5px;
    padding-left: 5px;
  }
  .FormWrp{
    width: 95%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .Preface{
    margin-top: 75px;
    margin-bottom: 40px;
  }
}
@media only screen and (width: 1024px) and (height: 1366px){
  .Preface{
    margin-top: 85px;
    margin-bottom: 70px;
  }
  .FormWrp{
    margin-bottom: 155px;
  }
  .FormWrp .name, .FormWrp .email, .FormWrp .message{
    margin-bottom: 65px;
  }
}
