.ProjectDataWrp{
  margin: 20px 0 20px 20px;
  width: 47%;
  background: rgba(0,0,0, .6);
  height: calc(100% - 40px);
  position: relative;
  z-index: 100;
  color: #fff;
  overflow: hidden;
}
.RightSide:hover .Ball{
  transform: rotate(180deg);
}
.RightSide:hover .SeeMore{
  transform: translate(15px, -20px);
  opacity: 1;
}
.Ball{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  margin: 5px 0;
  transform-origin: center;
  transform: rotate(0deg);
  transition: transform .4s;
}
.SeeMore{
  display: inline-block;
  font-size: 13;
  transform: translate(0, -20px);
  opacity: 0;
  transition: all .5s;
}
.Kernel, .Kernel::before, .Kernel::after{
  width: 4px;
  height: 4px;
  background: #888;
  border-radius: 50%;
}
.Kernel{
  position: absolute;
  top: 18px;
  left: 18px;
}
.Kernel::before,
.Kernel::after{
  content: '';
  position: absolute;
}
.Kernel::before{
  left: -8px;
}
.Kernel::after{
  right: -8px;
}
.ProjectDataWrpHidden{
  display: none;
}
.LeftSide, .RightSide{
  display: inline-block;
  height: 100%;
  color: #fff !important;
  text-decoration: none !important;
}
.LeftSide{
  width: 40%;
  font-size: 25px;
  padding: 40% 0 0 20px;
  box-sizing: border-box;
}
.RightSide{
  width: 60%;
  float: right;
  padding-right: 25px;
  box-sizing: border-box;
}
.Header{
  padding: 35px 0;
  font-size: 14px;
}
.Case{
  margin-bottom: 20px;
}
.Case, .Title, .BriefInfo, .Header{
  font-weight: 600;
}
.Title, .BriefInfo{
  font-size: 26px;
}
.Title{
  margin-bottom: 10px;
}
.BriefInfo{
  margin-bottom: 30px;
}
.Description{
  margin-top: 30px;
  line-height: 1.3;
  font-size: 14px;
}
.DescriptionText{
  line-height: 1.5;
}
.ProjectDataWrp_Scroll_Up .Case{
  animation-name: case-scroll-up;
  animation-duration: 1s;
  animation-delay: .24s;
}
.ProjectDataWrp_Scroll_Up_One .Case{
  animation-name: case-scroll-up-one;
  animation-duration: 1s;
  animation-delay: .24s;
}
.ProjectDataWrp_Scroll_Up_Two .Case{
  animation-name: case-scroll-up;
  animation-duration: 1s;
  animation-delay: .24s;
}
.ProjectDataWrp_Scroll_Up .Title{
  animation-name: title-scroll-up;
  animation-duration: 1s;
  animation-delay: .18s;
}
.ProjectDataWrp_Scroll_Up_One .Title{
  animation-name: title-scroll-up-one;
  animation-duration: 1s;
  animation-delay: .18s;
}
.ProjectDataWrp_Scroll_Up_Two .Title{
  animation-name: title-scroll-up;
  animation-duration: 1s;
  animation-delay: .18s;
}
.ProjectDataWrp_Scroll_Up .BriefInfo{
  animation-name: brief-info-scroll-up;
  animation-duration: 1s;
  animation-delay: .12s;
}
.ProjectDataWrp_Scroll_Up_One .BriefInfo{
  animation-name: brief-info-scroll-up-one;
  animation-duration: 1s;
  animation-delay: .12s;
}
.ProjectDataWrp_Scroll_Up_Two .BriefInfo{
  animation-name: brief-info-scroll-up;
  animation-duration: 1s;
  animation-delay: .12s;
}
.ProjectDataWrp_Scroll_Up .Ball{
  animation-name: description-scroll-up-ball;
  animation-duration: 1s;
  animation-delay: .06s;
}
.ProjectDataWrp_Scroll_Up_One .Ball{
  animation-name: description-scroll-up-ball-one;
  animation-duration: 1s;
  animation-delay: .06s;
}
.ProjectDataWrp_Scroll_Up_Two .Ball{
  animation-name: description-scroll-up-ball;
  animation-duration: 1s;
  animation-delay: .06s;
}
.ProjectDataWrp_Scroll_Up_One .SeeMore{
  animation-name: description-scroll-up-see-more-one;
  animation-duration: 1s;
  animation-delay: .03s;
}
.ProjectDataWrp_Scroll_Up .SeeMore, .ProjectDataWrp_Scroll_Up_Two .SeeMore{
  animation-name: description-scroll-up-see-more;
  animation-duration: 1s;
  animation-delay: .03s;
}
.ProjectDataWrp_Scroll_Up .DescriptionText{
  animation-name: description-scroll-up-text;
  animation-duration: 1s;
}
.ProjectDataWrp_Scroll_Up_One .DescriptionText{
  animation-name: description-scroll-up-text-one;
  animation-duration: 1s;
}
.ProjectDataWrp_Scroll_Up_Two .DescriptionText{
  animation-name: description-scroll-up-text;
  animation-duration: 1s;
}
.ProjectDataWrp_Scroll_Down .Case{
  animation-name: case-scroll-down;
  animation-duration: 1s;
}
.ProjectDataWrp_Scroll_Down_One .Case{
  animation-name: case-scroll-down-one;
  animation-duration: 1s;
}
.ProjectDataWrp_Scroll_Down_Two .Case{
  animation-name: case-scroll-down;
  animation-duration: 1s;
}
.ProjectDataWrp_Scroll_Down .Title{
  animation-name: title-scroll-down;
  animation-duration: 1s;
  animation-delay: .06s;
}
.ProjectDataWrp_Scroll_Down_One .Title{
  animation-name: title-scroll-down-one;
  animation-duration: 1s;
  animation-delay: .06s;
}
.ProjectDataWrp_Scroll_Down_Two .Title{
  animation-name: title-scroll-down;
  animation-duration: 1s;
  animation-delay: .06s;
}
.ProjectDataWrp_Scroll_Down .BriefInfo{
  animation-name: brief-info-scroll-down;
  animation-duration: 1s;
  animation-delay: .12s;
}
.ProjectDataWrp_Scroll_Down_One .BriefInfo{
  animation-name: brief-info-scroll-down-one;
  animation-duration: 1s;
  animation-delay: .12s;
}
.ProjectDataWrp_Scroll_Down_Two .BriefInfo{
  animation-name: brief-info-scroll-down;
  animation-duration: 1s;
  animation-delay: .12s;
}
.ProjectDataWrp_Scroll_Down .Ball{
  animation-name: description-scroll-down-ball;
  animation-duration: 1s;
  animation-delay: .18s;
}
.ProjectDataWrp_Scroll_Down_One .Ball{
  animation-name: description-scroll-down-ball-one;
  animation-duration: 1s;
  animation-delay: .18s;
}
.ProjectDataWrp_Scroll_Down_Two .Ball{
  animation-name: description-scroll-down-ball;
  animation-duration: 1s;
  animation-delay: .18s;
}
.ProjectDataWrp_Scroll_Down_One .SeeMore{
  animation-name: description-scroll-down-see-more-one;
  animation-duration: 1s;
  animation-delay: .18s;
}
.ProjectDataWrp_Scroll_Down_Two .SeeMore, .ProjectDataWrp_Scroll_Down .SeeMore{
  animation-name: description-scroll-down-see-more;
  animation-duration: 1s;
  animation-delay: .18s;
}
.ProjectDataWrp_Scroll_Down .DescriptionText{
  animation-name: description-scroll-down-text;
  animation-duration: 1s;
  animation-delay: .24s;
}
.ProjectDataWrp_Scroll_Down_One .DescriptionText{
  animation-name: description-scroll-down-text-one;
  animation-duration: 1s;
  animation-delay: .24s;
}
.ProjectDataWrp_Scroll_Down_Two .DescriptionText{
  animation-name: description-scroll-down-text;
  animation-duration: 1s;
  animation-delay: .24s;
}
@keyframes case-scroll-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes case-scroll-down-one {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes title-scroll-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes title-scroll-down-one {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes brief-info-scroll-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes brief-info-scroll-down-one {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes description-scroll-down-ball {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes description-scroll-down-ball-one {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes description-scroll-up-see-more {
  0% {
    transform: translate(15px, -20px);
  }
  45% {
    transform: translate(15px, 50vh);
  }
  55% {
    transform: translate(15px, 100vh);
  }
  60% {
    transform: translate(15px, -200vh);
  }
  100% {
    transform: translate(15px, -20px);
  }
}
@keyframes description-scroll-up-see-more-one {
  0% {
    transform: translate(15px, -20px);
  }
  45% {
    transform: translate(15px, 50vh);
  }
  55% {
    transform: translate(15px, 100vh);
  }
  60% {
    transform: translate(15px, -200vh);
  }
  100% {
    transform: translate(15px, -20px);
  }
}
@keyframes description-scroll-down-see-more {
  0% {
    transform: translate(15px, -20px);
  }
  45% {
    transform: translate(15px, -50vh);
  }
  55% {
    transform: translate(15px, -100vh);
  }
  65% {
    transform: translate(15px, 50vh);
  }
  100% {
    transform: translate(15px, -20px);
  }
}
@keyframes description-scroll-down-see-more-one {
  0% {
    transform: translate(15px, -20px);
  }
  45% {
    transform: translate(15px, -50vh);
  }
  55% {
    transform: translate(15px, -100vh);
  }
  65% {
    transform: translate(15px, 50vh);
  }
  100% {
    transform: translate(15px, -20px);
  }
}
@keyframes description-scroll-down-text {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes description-scroll-down-text-one {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes case-scroll-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes case-scroll-up-one {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes title-scroll-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes title-scroll-up-one {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes brief-info-scroll-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes brief-info-scroll-up-one {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes description-scroll-up-ball {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes description-scroll-up-ball-one {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes description-scroll-up-text {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes description-scroll-up-text-one {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(50vh);
    opacity: 0;
  }
  55% {
    transform: translateY(100vh);
    opacity: 0;
  }
  65% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 992px){
  .ProjectDataWrp{
    margin-top: 100px;
    height: calc(100% - 200px);
  }
  .LeftSide{
    display: none;
  }
  .RightSide{
    width: 100%;
    padding: 0 15px;
  }
  .DescriptionText{
    display: none;
  }
}
@media only screen and (width: 768px) and (height: 1024px){
  .DescriptionText{
    display: block;
    margin-top: 15px;
    line-height: 1.8;
  }
}
@media screen and (max-height: 500px){
  .RightSide{
    padding-top: 15px;
  }
  .Header, .Case{
    display: none;
  }
  .Title{
    font-size: 18px;
  }
  .BriefInfo{
    font-size: 17px;
    margin-bottom: 15px;
  }
  .Description{
    margin-top: 15px;
  }
}
@media only screen and (height: 568px) and (width: 320px){
  .Title{
    font-size: 17px;
  }
  .BriefInfo{
    font-size: 18px;
  }
}
@media only screen and (width: 568px) and (height: 320px){
  .Title{
    font-size: 15px;
  }
  .BriefInfo{
    font-size: 15px;
    margin-bottom: 0;
  }
  .Description{
    margin-top: 0;
  }
  .Description .Ball{
    transform: scale(.7);
  }
}
