.LayoutWrp{
  height: 100vh;
  transition: transform .8s cubic-bezier(1.000, 0.080, 0.190, 1.015);
  overflow: hidden;
}
.LayoutWrpInactive{
  transform: translateX(100%);
}
.LayoutWrpActive{
  transform: translateX(0);
}
