.WorkWrp{
  height: 100vh;
  transform: translateY(0);
  position: absolute;
  width: 100%;
  transform-style: preserve-3d;
  overflow: hidden;
}
.WorkWrp::before{
  content: '';
  position: absolute;
  z-index: 1;
  top: -10%;
  left: -15%;
  height: 120%;
  width: 130%;
  background-color: rgba(0,0,0,.15);
}
.WorkWrpNormal{
  transition: transform 1s cubic-bezier(1.000, 0.080, 0.190, 1.015) 0.1s, z-index 1s cubic-bezier(1.000, 0.080, 0.190, 1.015) 0.1s;
}
.WorkWrpSlow{
  transition: transform 1.1s cubic-bezier(1.000, 0.080, 0.190, 1.015) 0.1s, z-index 1.1s cubic-bezier(1.000, 0.080, 0.190, 1.015) 0.1s;
}
.ContainerOuter{
  position: absolute;
  overflow: hidden;
  width: 110%;
  height: 106%;
  top: -3%;
  left: -5%;
}
.Container{
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-style: preserve-3d;
  perspective: 10000px;
  opacity: 1;
}
.ContainerInner{
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.WorkImgPreFront, .WorkImgFront, .WorkImgBackground, .WorkImgMiddle{
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  transition: transform .3s;
}
.WorkImgBackground{
  transform: translate3d(0, 0, 145px);
}
.WorkImgMiddle{
  transform: translate3d(0, 0, 245px);
}
.WorkImgPreFront{
  transform: translate3d(0, 0, 345px);
}
.WorkImgFront{
  transform: translate3d(0, 0, 485px);
}
@media screen and (max-width: 1024px){
  .WorkImgMiddle, .WorkImgPreFront, .WorkImgFront{
    display: none;
  }
}
